Options -Indexes

RewriteEngine on

ErrorDocument 404 /demo/controller/site/error_c.php

### STATIC ###

RewriteRule ^styles/(.+)$ static/styles/$1 [L]
RewriteRule ^scripts/(.+)$ static/scripts/$1 [L]
RewriteRule ^images/(.+)$ static/images/$1 [L]

### UPLOAD AND DOWNLOAD ###

RewriteRule ^download/(\d+)/(.+)?$ controller/site/download_c.php?fi=$1&fn=$2 [QSA,L]
RewriteRule ^upload/process/?$ controller/site/upload.process.php [L]
RewriteRule ^up/user/sm/(.+)$ upload/user/small/$1 [L]
RewriteRule ^up/user/lg/(.+)$ upload/user/large/$1 [L]
RewriteRule ^up/user/(.+)$ upload/user/$1 [L]
RewriteRule ^up/th/(.+)$ upload/thumb/$1 [L]
RewriteRule ^up/pr/(.+)$ upload/preview/$1 [L]
RewriteRule ^up/(.+)$ upload/$1 [L]

### HOME PAGE ###

RewriteRule ^$ controller/site/index_c.php [L]
RewriteRule ^dashboard/process/?$ controller/site/dashboard.process.php [L]
RewriteRule ^dashboard/?$ controller/site/index_c.php [L]

### HELP ###

RewriteRule ^help/?$ controller/site/help_c.php [L]

### FIND PROJECTS ###

RewriteRule ^projects/?$ controller/site/find_c.php [L]

### SETTINGS ###

RewriteRule ^settings/process/?$ controller/site/settings.process.php [L]
RewriteRule ^settings/?$ controller/site/settings_c.php [L]

### LOGIN/LOGOUT ###

RewriteRule ^logout/?$ controller/site/logout.process.php [L]
RewriteRule ^login/process/?$ controller/site/login.process.php [L]

RewriteRule ^login/?$ controller/site/login_c.php [L]

### REGISTER ###

RewriteRule ^register/process/?$ controller/site/register.process.php [L]
RewriteRule ^register/(.+)/?$ controller/site/register_c.php?email=$1 [QSA,L]
RewriteRule ^register/?$ controller/site/register_c.php [L]

### CONSENT FORMS ###

RewriteRule ^consent/adult/?$ controller/site/consent_adult_c.php [L]
RewriteRule ^consent/minor/?$ controller/site/consent_minor_c.php [L]
RewriteRule ^consent/?$ controller/site/consent_c.php [L]

### BASICS ###

RewriteRule ^projects/([a-z0-9-]+)/basics/process/?$ controller/project/details.process.php?slug=$1 [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/basics/?$ controller/project/details_c.php?slug=$1 [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/?$ controller/project/details_c.php?slug=$1 [QSA,L]

### UPDATES ###

RewriteRule ^projects/([a-z0-9-]+)/tasks/(\d+)/updates/(\d+)/process/?$ controller/project/update.process.php?slug=$1&t=$2&u=$3 [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/tasks/(\d+)/updates/new/process/?$ controller/project/update.process.php?slug=$1&t=$2 [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/tasks/(\d+)/updates/new/?$ controller/project/update_new_c.php?slug=$1&t=$2 [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/tasks/(\d+)/updates/(\d+)/?$ controller/project/update_c.php?slug=$1&t=$2&u=$3 [QSA,L]
#RewriteRule ^projects/([a-z0-9-]+)/tasks/(\d+)/updates/?$ controller/project/updates_c.php?slug=$1&t=$2 [QSA,L]

### TASKS ###

RewriteRule ^projects/([a-z0-9-]+)/tasks/(\d+)/process/?$ controller/project/task.process.php?slug=$1&t=$2 [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/tasks/new/process/?$ controller/project/task.process.php?slug=$1 [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/tasks/new/?$ controller/project/task_new_c.php?slug=$1 [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/tasks/(\d+)/?$ controller/project/task_c.php?slug=$1&t=$2 [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/tasks/?$ controller/project/tasks_c.php?slug=$1 [QSA,L]

### DISCUSSIONS ###

RewriteRule ^projects/([a-z0-9-]+)/discussions/new/process/?$ controller/project/discussion.process.php?slug=$1 [QSA,L]

# new discussion
RewriteRule ^projects/([a-z0-9-]+)/discussions/new/basics/?$ controller/project/discussion_new_c.php?slug=$1&cat=basics [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/discussions/new/tasks/?$ controller/project/discussion_new_c.php?slug=$1&cat=tasks [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/discussions/new/people/?$ controller/project/discussion_new_c.php?slug=$1&cat=people [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/discussions/new/activity/?$ controller/project/discussion_new_c.php?slug=$1&cat=activity [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/discussions/new/?$ controller/project/discussion_new_c.php?slug=$1 [QSA,L]

RewriteRule ^projects/([a-z0-9-]+)/discussions/(\d+)/process/?$ controller/project/discussion.process.php?slug=$1&d=$2 [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/discussions/(\d+)/?$ controller/project/discussion_c.php?slug=$1&d=$2 [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/discussions/?$ controller/project/discussions_c.php?slug=$1 [QSA,L]

### PEOPLE ###

RewriteRule ^projects/([a-z0-9-]+)/people/search/([a-z-]+)/?$ controller/project/peopleSearch.process.php?slug=$1&relationship=$2 [QSA,L]
#RewriteRule ^projects/([a-z0-9-]+)/people/banned/?$ controller/project/banned_c.php?slug=$1 [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/people/process/?$ controller/project/credits.process.php?slug=$1 [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/people/?$ controller/project/credits_c.php?slug=$1 [QSA,L]

### ACTIVITY ###

RewriteRule ^projects/([a-z0-9-]+)/activity/basics/?$ controller/project/activity_c.php?slug=$1&filter=basics [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/activity/tasks/?$ controller/project/activity_c.php?slug=$1&filter=tasks [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/activity/discussions/?$ controller/project/activity_c.php?slug=$1&filter=discussions [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/activity/people/?$ controller/project/activity_c.php?slug=$1&filter=people [QSA,L]
RewriteRule ^projects/([a-z0-9-]+)/activity/?$ controller/project/activity_c.php?slug=$1&filter=all [QSA,L]

### USERS ###

RewriteRule ^users/([a-zA-Z0-9-]{6,20})/?$ controller/site/user_c.php?un=$1 [QSA,L]
RewriteRule ^users/([a-zA-Z0-9-]{6,20})/process/?$ controller/site/user.process.php?un=$1 [QSA,L]
RewriteRule ^users/([a-zA-Z0-9-]{6,20})/upload/?$ controller/site/userPicture.process.php [L]