/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end CSS reset */

h1 {
	display: block;
	float: left;
	padding-right: 1.5em;
	}
	
	
/* generic */

ul.segmented-list h6.primary {
	font-size: 120%;
	margin: 0; padding: 0 0 3px 22px;
	background: no-repeat 0 3px;
	}
	ul.segmented-list h6.primary span.status {
		float: right;
		display: inline;
		text-transform: uppercase;
		font-size: 10px;
		margin: 0; padding: 0.25em 0.5em;
		background: #1a1a1a;
		color: #ccc;
		-moz-border-radius: 0.5em;
		-webkit-border-radius: 0.5em;
		border-radius: 0.5em;
		}
	ul.segmented-list p.secondary {
		font-size: 90%;
		margin: 0; padding: 0 0 0 22px;
		}
		ul.segmented-list p.secondary a {
			/*color: #a3a3a3;*/
			}
			
div.panel.small ul.segmented-list h6.primary {
	font-size: 90%;	
	margin: 0; padding: 0 0 2px 22px;
	background-position: 0 0;
	}
	div.panel.small ul.segmented-list h6.primary span.status {
		float: none;
		}
	div.panel.small ul.segmented-list p.secondary {
		font-size: 75%;
		}
		div.panel.small ul.segmented-list p.secondary a {
			}
			
/* PROJECTS LIST */
ul.projects h6.primary {
	background-image: url(./../images/icons/clapperboard.png);
	}
			
/* TASK LIST */

ul.tasks h6.primary {
	background-image: url(./../images/icons/task.png);
	}

/* UPDATES LIST */
	
ul.updates h6.primary {
	background-image: url(./../images/icons/pin.png);
	}
	
/* TASK/UPDATE MAIN CONTENT */

div#task h5, div#update h5 {
	font-size: 150%;
	color: #fff;
	margin-top: 0.25em;
	}
	
div#task span.status, div#update span.status, div#progress span.status {
	display: inline;
	text-transform: uppercase;
	font-size: 75%;
	margin: 0; padding: 0.25em 0.5em;
	background: #1a1a1a;
	color: #ccc;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;	
	}

div.person-box {
	float: right;
	width: auto;
	margin-left: 0.5em;
	}
	div.person-box div.text {
		float: right;
	}
	div.person-box p.caption {
		font-size: 100%;
		margin: 0; padding: 0;
	}
	div.person-box p.username {
		font-size: 120%;
		margin: 0; padding: 0;
	}
		
	
/* DISCUSSION LISTS */
	
ul.discussions h6.primary {
	background-image: url(./../images/icons/balloon.png);
	}
	
/* DISCUSSION REPLIES / COMMENTS */

ul.replies h5 {
	color: #fff;
	font-size: 150%;
	margin-bottom: 0.5em;
	
	}
ul.replies p.headline, ul.comments p.headline {
	margin: 0; padding: 0.5em 0 0 0;
	font-size: 100%;
	margin-left: 55px;
	}
ul.replies p.message, ul.comments p.message {
	font-size: 100%;
	margin-left: 55px;
	}
ul.replies span.when, ul.comments span.when {
	font-size: 90%;
	color: #666;
	}
	ul.replies li.reply, ul.comments li.comment {
		text-align: right;
		}
		ul.replies li.reply textarea, ul.comments li.comment textarea {
			width: 95%;
			height: 125px;
			}
		ul.replies li.reply input, ul.comments li.comment input {
			margin-right: 0;
			margin-left: 1em;
			}

/* comment replies styles */

ul.comments input.replyButton {
	float: right;
	font-size: 80%;
	margin: 0; 
	/*margin: 1.25em 0 0 0;
	padding: 0.25em 0.5em;*/
	}			

ul.comments li.comment-reply {
	margin-left: 55px;
	}
ul.comments div.post-reply {
	text-align: right;
	margin-left: 55px;
	}
	ul.comments div.post-reply textarea {
		width: 455px;
		height: 100px;
		}
	ul.comments div.post-reply input {
		margin-right: 0;
		}
		
/* uploads */

div.upload {
	clear: both;
	background: url(./../images/icons/document.png) no-repeat 0 3px;
	}
	div.upload.audio {
		background-image: url(./../images/icons/document-music.png);
		}
	div.upload.image {
		background-image: url(./../images/icons/document-image.png);
		}
	div.upload.video {
		background-image: url(./../images/icons/document-film.png);
		}
	div.upload.flash {
		background-image: url(./../images/icons/document-flash-movie.png);
		}

	div.upload a.thumb {
		width: 150px;
		height: 40px;
		display: block;
		float: right;
		margin: 0 0 0 0.5em; padding: 0;
		background: #1a1a1a no-repeat center right;
		border: 1px solid #262626;
		}
		div.upload a.thumb:hover {
			border: 1px solid #fff;
			}
		div.upload a.thumb img {
			display: block;
			height: 30px; width: 30px;
			margin: 5px auto 0 auto; padding: 0;
			}

/* PRIMARY NAV */	
	
div.primary-nav {
	padding: 1.3em 0;
	}
	
div.primary-nav li {
	display: block;
	padding-top: 0.2em; /* valign with logo */
	}
	div.primary-nav li.left {
		float: left;
		}
	div.primary-nav li.right {
		float: right;
		}
	div.primary-nav li a {
		display: block;
		font-size: 87.5%;
		padding-left: 1em;
		padding-right: 1em;
		}

		
/* USER LISTS */

a.picture img{
	float: left;
	margin-right: 0.5em;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;			
	}
	a.picture.small img {
		width: 32px; height: 32px;
		}
	a.picture.large img {
		width: 48px; height: 48px;
		}
		
ul.user{}
	ul.user p.username {
		font-size: 100%;
		margin: 0; padding: 0 0 0.1em 0;
		}
	ul.user p.accomplishments {
		font-size: 85%;
		margin: 0; padding: 0;
		}
	ul.user div.buttons {
		width: 200px;
		float: right;
		text-align: right;
		}
		ul.user div.buttons input {
			margin: 0 0 0 1em;
			}

			
/* ACTIVITY FEED */

ul.activity h6.create {
	background-image: url(./../images/icons/plus-circle.png);
	}
ul.activity h6.edit {
	background-image: url(./../images/icons/pencil.png);
	}	
ul.activity h6.edit-basics {
	background-image: url(./../images/icons/clipboard--pencil.png);
	}		
ul.activity h6.create-task {
	background-image: url(./../images/icons/task--plus.png);
	}		
ul.activity h6.edit-task, ul.activity h6.edit-leader {
	background-image: url(./../images/icons/task--pencil.png);
	}	
ul.activity h6.accept-task {
	background-image: url(./../images/icons/task--arrow.png);
	}
ul.activity h6.create-update {
	background-image: url(./../images/icons/pin--plus.png);
	}		
ul.activity h6.edit-update {
	background-image: url(./../images/icons/pin--pencil.png);
	}
ul.activity h6.create-comment, ul.activity h6.create-discussion {
	background-image: url(./../images/icons/balloon--plus.png);
	}
ul.activity h6.edit-comment, ul.activity h6.edit-discussion {
	background-image: url(./../images/icons/balloon--pencil.png);
	}	
			
		
/* generic */ 

h5.closed a, h6.closed a {
	text-decoration: line-through;
	}
	
h2 span.status {
	display: inline;
	text-transform: uppercase;
	font-size: 50%;
	margin: 0; padding: 0.25em 0.5em;
	background: #1a1a1a;
	color: #ccc;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;	
	}
	
div.left {
	width: 620px;
	float: left;
	}

div.right {
	width: 300px;
	float: right;
	}

div.funnel {
	width: 920px;
	margin: 0 auto;
	}

div.buttons {
	overflow: hidden;
	width: 100%;
	}
	div.buttons input.left {
		float: left;
		margin-left: 0;
		margin-right: 1em;		
		}
	div.buttons input.right {
		float: right;
		margin-right: 0;
		margin-left: 1em;
		}
	div.buttons p {
		margin-top: 0.5em;
		}

ul.segmented-list {
	}
	ul.segmented-list li {
		padding: .5em 0;
		border-top: 1px solid #313131;
		/*position: relative;*/
		overflow: hidden; /*ie fix*/
		width: auto;
		}
	ul.segmented-list li:first-child {
		border-top: 0;
		}
	ul.segmented-list li.description {
		padding-top: 0;
		color: #666;
		}

span.slash {
	color: #313131;
	font-weight: bold;
	}		
		
div.clear {
	clear: both;
	margin-bottom: 1em;
	}
	div.clear > label {
		float: left;
		width: 150px;
		text-align: right;
		padding-top: 0.5em;
		}
	
div.input {
	margin-left: 170px;
	}
	div.input p {
		font-size: 90%;
		}
	div.input input[type="text"],
	div.input input[type="password"]{
		font-size: 120%;
		padding: 0.2em;
		width: 210px;
		}
	div.input select {
		font-size: 120%;
		padding: 0.2em;
		}


span#username_check, span#pw_check {
	font-weight: bold;
	font-size: 90%;
	}

		
textarea {
	width: 300px;
	height: 200px;
	overflow: auto;
	font-size: 120%;
	padding: 0.2em;	
	}
		
input.login {
	display: block;
	font-size: 120%;
	margin: 0.5em 0 1em 0;
	padding: 0.2em;
	width: 210px;
	}

div.page-body {
	padding: 1.5em 0;
	}
	
p {
	padding: 0.5em 0;
	line-height: 1.2em;
	}
	
input[type=button], input[type=submit] {
	/*display: block;*/
	padding:0.3em 0.8em;
	margin: 0.5em 1em 1em 0;
}

div#feedback {
	display: none;
	}

	
img.sparkline {
	margin: 0.5em auto;
	}


div.activity-filter select {
	float: right;
	font-size: 85%;
	padding: 0.1em;		
	margin-top: 0.6em;
	}

.hidden {
	display: none;
	}

/* -------------- Basics tab ----------- */

#pitch div.edit, #specs div.edit, #rules div.edit {
	text-align: right;
	}
#pitch textarea, #specs textarea, #rules textarea {
	width: 95%;
	}
#pitch div.view {
	padding: 0.5em 0;
	}


		
		