ul.segmented-list li {
	border-top-color: #313131;
	}
		
div#task h5, div#update h5, div#profile div.view h5 {
	color: #fff;
	}		

div#task span.status,
div#update span.status,
div#progress span.status,
ul.segmented-list h6.primary span.status,
ul.segmented-list p.secondary span.status,
h2 span.status,
ul.notifications span.category {
	background-color: #111111;
	color: #ccc;
	}	
	
ul.replies h5 {
	color: #fff;
	}
	
ul.replies span.when, ul.comments span.when {
	color: #666;
	}	
	
div.upload a.thumb {
	background-color: #1a1a1a;
	border-color: #262626;
	}
	div.upload a.thumb:hover {
		border-color: #fff;
		}	
			
div.primary-nav {			
	background: #000;
	}	
	div.primary-nav a {
		color: #fff;
		}	
	div.primary-nav li span.unread {
		background-color: #333333;
		}			
	
div.secondary-nav {

	}			
	div.secondary-nav a {
		border-color: #222222;
		background-color: #333333;
		color: #999;
		}	
		div.secondary-nav a.selected {
			background-color: #000;
			border-color: #333333;
			color: #fff;
			}
		div.secondary-nav a:hover {
			border-color: #666;
			color: #fff;
			}		
	
ul.notifications label {
	color: #a3a3a3;
	}
	
html {
	color: #eeeeee;
	background-color: #222222;
	}	

a, h1 a, .ui-dialog div.invite-box a, .ui-dialog div.diff-box a {
	color: LightBlue;
	}	
		
h2 {
	color: #fff;
	}			
				
span.required {
	color: #B22222;
	}
	
.good{
	color: #2E8B57;
	}

.bad {
	color: #B22222;
	}	
	
ins {
	color: #2E8B57;
	}

del {
	color: #B22222;
	}	
	
label {
	color: #fff;
	}
	
div.line {
	border-top-color: #313131;
	}	
	
span.slash {
	color: #313131;
	}	
	
div.panel {
	background-color: #222222;	
	}	
	div.panel.subtle {
		background-color: #000;
		}
	
div.panel-header {
	background-color: #333333;
	border-top-color: #444444;
	}	
	div.panel-header h4 {
		color: #aaaaaa;
		}	
	div.panel-header input[type=submit],
	div.panel-header input[type=button] {
		background: #555555;
		}
		div.panel-header input[type=submit]:hover,
		div.panel-header input[type=button]:hover {
		background-color: #ccc;
		color: #000;
		}
		
div.panel-body {
	color: #a8a8a8;
	}		
	
div.panel-footer {
	border-top-color: #313131;
	}	

div.page-body {
	background-color: #000;
	}	
	
div.page-footer a:link, div.page-footer a:visited {
	color: #666;
	}
div.page-footer a:hover {
	color: #fff;
	}
	
a#pipeline-logo-sm {
 	background-image: url(./../images/pipeline-sm-dark.gif);
	}
	
div.heading a {
	color: #fff;
	}	
	
div.breadcrumbs h3 {
	color: #fff;
	}
	
html.home {
	background-color: #000;
	}
	
html.home div.top {
	border-color: #444444;
	}
	
html.home div.middle {
	background-color: #222222;
	}
				
html.home h1 span {
	color: #ccc;
	}
	html.home h1 span a:link, html.home h1 span a:visited {
		color: #fff;
		}
		
a#pipeline-logo-lg {
 	background-image: url(./../images/pipeline-lg-dark.gif);
 	}
		
html.home h2 a {
	color: LightBlue;
	}		
	
html.home div.get-started a:link, html.home div.get-started a:visited {
	border-color: #666;
	background-color: #ccc;
	color: #333;		
	}
html.home div.get-started a:hover {
	background-color: #eeeeee;
	color: #666;
	}
	
html.home div.features {
	color: #ccc;
	}
	html.home div.features h3 {
		color: #eeeeee;		
		}	
	
html.home div.meta {
	color: #ccc;
	}
	
table.tasks th,
table.projects th,
table.contribs th,
table.items th {
	color: #666;
	}	
	
table.tasks td,
table.projects td,
table.contribs td,
table.items td {
	border-color: #313131;
	}	
	
table.discussions td.category span {
	background-color: #111111;
	}	
	
input[type=button], input[type=submit] {
	/*border-color: #444444;*/
	background-color: #444444;
	color: #ccc;
	cursor: pointer;
	}
	input[type=button]:hover, input[type=submit]:hover {
		background-color: #ccc;
		color: #000;
	}
	
		
input[type=button][disabled="disabled"], input[type=submit][disabled="disabled"], .disabledButton{
	background-color: #222222;
	color: #ccc;
	background-image: url("./../images/loader_dark.gif");
	}		


input[type=text], input[type=password],
input.textbox, textarea, select {
	background-color: #1a1a1a;
	color: #fff;
	border-color: #666;
}	

input[type=text]:hover, input[type=password]:hover,
input[type=file]:hover textarea:hover, select:hover,
input[type=text]:focus, input[type=password]:focus,
input[type=file]:focus, textarea:focus, select:focus {
	border-color: #F2CD58;
}