ul.segmented-list li {
	border-top-color: #dddddd;
	}
		
div#task h5 a, div#update h5 a, div#profile div.view h5 a, ul.replies h5 {
	color: #000;
	}		

div#task span.status,
div#update span.status,
div#progress span.status,
ul.segmented-list h6.primary span.status,
ul.segmented-list p.secondary span.status,
h2 span.status,
ul.notifications span.category {
	background-color: #eeeeee;
	color: #666;
	}	
	
ul.replies span.when, ul.comments span.when {
	color: #666;
	}	
	
div.upload a.thumb {
	background-color: #dddddd;
	border-color: #dddddd;
	}
	div.upload a.thumb:hover {
		border-color: slategray;
		}	
		
div.primary-nav {			
	/*background: rgba(255,255,255,.50);*/
	/*background: #fff url(./../images/header_bg_light.png) repeat-x center left;	*/
	background: #eeeeee;
	}
	div.primary-nav a {
		color: #000;
		}
	div.primary-nav li span.unread {
		background-color: #fff;
		}
			
div.secondary-nav {}			
	div.secondary-nav a {
		background-color: #dddddd;	
		border-color: #fff;
		color: #666;
		}	
		div.secondary-nav a.selected {
			background-color: #eeeeee;
			border-color: #dddddd;
			color: #000;
			}
		div.secondary-nav a:hover {
		/*	background-color: #eeeeee; */
			border-color: #ccc;
			color: #000;
			}
			div.secondary-nav a.selected:hover {
				/*background-color: #fff;*/
				}

ul.notifications label {
	color: #333;
	}
	
html {
	color: #333;
	background-color: #fff;
	}	

a, .ui-dialog div.invite-box a, .ui-dialog div.diff-box a {
	color: #369;
	}	
		
h1 a, h2 a {
	color: #000;
	}	
	
a#pipeline-logo-lg {
 	background-image: url(./../images/pipeline-lg-light.gif);
 	}
				
span.required {
	color: #B22222;
	}
	
.good {
	color: #2E8B57;
	}

.bad {
	color: #B22222;
	}	
	
ins {
	color: #2E8B57;
	background-color: #dfd;
	}

del {
	color: #B22222;
	background-color: #fdd;
	}
	
label {
	color: #666;
	}
	
div.line {
	border-top-color: #dddddd;
	}	
	
span.slash {
	color: #dddddd;
	}	
	
div.panel {
	background-color: #fff;	
	}
	div.panel.subtle {
		background-color: #eeeeee;
		}
	
div.panel-header {
	background-color: #dddddd;
	border-top-color: #ccc;
	}	
	div.panel-header h4 {
		color: #666;
		}	
	div.panel-header input[type=submit],
	div.panel-header input[type=button] {
		background-color: #eeeeee;
		}
		div.panel-header input[type=submit]:hover,
		div.panel-header input[type=button]:hover {
			background-color: #666;
			color: #fff;
		}
		
div.panel-body {
	/*color: #eeeeee;*/
	}
	
div.panel-footer {
	border-top-color: #dddddd;
	}	

div.page-header {
	/*background: #fff url(./../images/header_bg_light.png) repeat-x center left;*/
	background: #fff;
	}	
	
div.heading a {
/*	color: #fff; */
	}	
	
div.breadcrumbs h3 {
	color: #666;
	}
	
div.page-body {
	background-color: #eeeeee;
	}

div.page-footer a:link, div.page-footer a:visited {
	color: #999;
	}
div.page-footer a:hover {
	color: #000;
	}
	
a#pipeline-logo-sm {
 	background-image: url(./../images/pipeline-sm-light.gif);
	}
	
html.home {
	background-color: #eeeeee;
	}
	
html.home div.top {
	border-color: #ccc;
	}

html.home div.middle {
	background-color: #fff;
	}
				
html.home h1 span {
	color: #666;
	}
	html.home h1 span a:link, html.home h1 span a:visited {
		color: #000;
		}
		
html.home h2 a {
	color: #369;
	}
	
html.home div.get-started a:link, html.home div.get-started a:visited {
	border-color: #ccc;
	background-color: #eee;
	color: #666;		
	}
html.home div.get-started a:hover {
	background-color: #666;
	color: #fff;
	}
	
html.home div.features {
	color: #666;
	}
	html.home div.features h3 {
		color: #333;		
		}	
	
html.home div.meta {
	color: #666;
	}	

table.tasks th,
table.projects th,
table.contribs th,
table.items th {
	color: #888888;
	}
	
table.tasks td,
table.projects td,
table.contribs td,
table.items td {
	border-color: #dddddd;
	}
	
table.discussions td.category span {
	background-color: #eeeeee;
	}
	
input[type=button], input[type=submit] {
	/*border-color: #ccc;*/
	background-color: #dddddd;
	color: #666;
	cursor: pointer;
	}
	input[type=button]:hover, input[type=submit]:hover {
		background-color: #666;
		color: #fff;
	}
	/*
input.createButton[type=button], input.good[type=button] {
	color: #396;
	}
	input.createButton[type=button]:hover, input.good[type=button]:hover {
		background-color: #396;
		color: #fff;
		}	

input.editButton[type=button] {
	color: #369;
	}
	input.editButton[type=button]:hover {
		background-color: #369;
		color: #fff;	
		}
		
input.deleteButton[type=button], input.bad[type=button] {
	color: #B22222;
	}
	input.deleteButton[type=button]:hover, input.bad[type=button]:hover {
		background-color: #B22222;
		color: #fff;	
		}*/		
		
input[type=button][disabled="disabled"], input[type=submit][disabled="disabled"], .disabledButton{
	background-color: #dddddd;
	color: #999;
	background-image: url("./../images/loader_light.gif");
	}		
	
input[type=text], input[type=password],
input.textbox, textarea, select {
	background-color: #fff;
	color: #000;
	border-color: #dddddd;
}	

input[type=text]:hover, input[type=password]:hover,
input[type=file]:hover textarea:hover, select:hover,
input[type=text]:focus, input[type=password]:focus,
input[type=file]:focus, textarea:focus, select:focus {
	border-color: #F2CD58;
}

	